<h1>AnBu PC</h1>

<nav>
    <ul>
        <li><a href="">Categorias</a></li>
        <li><a href="">Componentes</a></li>
        <li><a href="">PCs armadas</a></li>
        <li><a href="">Notebooks</a></li>
        <li><a href="">About</a></li>
    </ul>
</nav>
<nav>
    <ul>
        <!--Maqueta-->
        <li>Usuario</li>
        <li>Carrito</li>
        <li>Favortios</li>
    </ul>
</nav>

<main>
    <!--Slider? O imágen fija...-->
    <div class="slider-componentes">
        
    </div>
</main>

<footer>

</footer>