<h1>AnBu PC</h1>

<nav>
    <ul>
        <li><a [routerLink]="">Categorias</a></li>
        <li><a [routerLink]="['/componentes']">Componentes</a></li>
        <li><a [routerLink]="">PCs armadas</a></li>
        <li><a [routerLink]="">Notebooks</a></li>
        <li><a [routerLink]="['/acerca']">Acerca</a></li>
    </ul>
</nav>
<nav>
    <ul>
        <!--Maqueta-->
        <li>Usuario</li>
        <li>Carrito</li>
        <li>Favortios</li>
    </ul>
</nav>

<router-outlet></router-outlet>

<footer>
    <p>FOOTER</p>
555312
</footer>