<div class="contenedor">
    <table class="tabl table-bordered">
        <thead>
            <tr>
                <th>Imagen</th>
                <th>Nombre</th>
                <th>Fabricante</th>
                <th>Precio</th>
                <th>Stock</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for(componente of componentes; track componente.nombre){
            <tr>
                <td><img class="imagen-componente" [src]="componente.imagen" [alt]="componente.nombre" title="1"></td>
                <td id="td-nombre"><p>{{componente.nombre}}</p></td>
                <td id="td-caracteristicas">{{componente.caracteristicas}}</td>
                <td id="td-precio">{{componente.precio}}</td>
                @if (componente.stock > 0) {
                    <td id="td-stock">{{componente.stock}}</td>
                    <td class="td-btn">
                        <app-input-integer [(cantidad)]="componente.cantidad" [max]="componente.stock" (maximoAlcanzado)="maximoAlcanzado($event)"></app-input-integer>
                        <button (click)="agregarAlCarrito(componente)">Agregar</button>
                    </td>
                }@else {
                    <td class="sin-stock">SIN STOCK</td>
                }
                
            </tr>
            }@empty {
            <tr><span>NO HAY COMPONENTES PARA MOSTRAR</span></tr>
            }
        </tbody>
    </table>
    <app-carrito></app-carrito>
</div>