.imagen-componente{
    max-width: 70px;
}
td{
    max-width: max-content;
    align-content: center;
    overflow: hidden;
}
table{
    width: 50%;
}
.sin-stock{
    background-color: rgb(255, 125, 125);
}


.contenedor{
    display: flex;
    justify-content: space-between;
    margin: 0px 10px 0px 10px;
}
.td-btn{
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
button{
    align-self: center;
}