#input-number::-webkit-inner-spin-button,
#input-number::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Para Firefox */
#input-number {
    max-width: 40px;
    -moz-appearance: textfield;
}